.no-content {
    height: calc(100vh - 155px);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookmarks-list {
    min-height: calc(100vh - 155px);
}